/* Mobile only
-----------------------------------------------------------------------------------*/

@media screen and (max-width: 829px) {
}


/* Mobile and Tablet only (most controlled by menu.css)
------------------------------------------------------------------------------------*/

@media screen and (max-width: 1199px){
	/* heading */

	.sub-logo img {
		width: auto;
		height: 10vw;
		margin: 3vw 0 0 10vw;

	}

	.header {
		position: fixed;
		background-color: #04378B;
		height: 15vw;
		width: 100vw;
	}

	.dia {
		margin: 20vw 5vw 5vw 5vw;
	}

	.dia img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	}
}

/* Desktop only
-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px){

	/* Header
	-----------------------------------------------------------------------------*/
		.header {
			background-color: rgba(225, 225, 225, 0.5);
			transition: all .3s ease;
			position: absolute;
			width: 100vw;
		}

		.sub-logo {
			position: absolute;
			top: 0vw;
			left: 8.33vw;
		}

		.sub-logo img {
			width: 14vw;
			height: auto;
			padding: 1vw 0 1vw 0;
		}

		.menu-nav {
			display: flex;
		 	grid-template-columns: 25%;
		 	margin: 0vw;
		 	font-size: 1.5vw;
		 	padding: 1.5vw 0 0 33.33vw;
		 	list-style: none;
		}

		.menu-nav-item {
			padding: 0vw 1.5vw 1.6vw 0vw;
		}

		.menu-nav-item a {
			text-decoration: none;
			color: #04378B;
		}

		.menu-nav-item a:hover {
			color: #eaf2fb;
		}

		.sub-menu {
			position: absolute;
			background-color: rgba(225,225,225,0.5);
			width: 100vw;
			margin: 1.6vw 0 0 -44.55vw;
			display: none;
			border-radius: 0;

		}

		li.menu-nav-item:hover nav {
			display: block;
		}

		.sub-menu ul {
			display: flex;
			width: 100%;
			list-style-type: none;
			padding: 0;
			margin: 1vw 0 0 15vw;
		}

		.sub-menu-nav-item {
			padding: 0vw 1vw 1vw 1vw;
			font-size: 1vw;
		}
}