/* All */
body{
	font-family: 'Francois One', sans-serif;
}

h1{
	color:#1d85c7;
	font-size: 4vw;
	margin: 0px;
}

h2{
	color:#1d85c7;
	font-size: 30px;
}

p{
	font-size: 15px;
	color: black;
}

a{
	text-decoration: none;
	color: #1d85c7;
}

ul .grid: {
	margin: 0;
	height: 75px;
}

/* Header */
header{
	width: 88%;
	height: 177px;
	padding: 10px;
	margin: -177px 0px 100px 100px;
	text-align: left;
	position: absolute;
}

header .grid{
	display: grid;
	grid-template-columns: 150px 85%;
	grid-gap: 20px;
	padding: 0px;
	margin: 0;
}

.nav-grid {
	display: flex;
	grid-template-columns: 25%;
}

.nav-grid > div {
	font-size: 30px;
	padding: 10px;
	grid-template-columns: 25%;
}

.heading{
	padding-left: 20px;

}

.navisub{

	display: none;
}

div.hover:hover{
	background-color: #eaf2fb;
	border-radius: 0px 0px 5px 5px;
}

div.navisub div a{
	font-size: 20px;
}

div.navisub div a:hover{
}

div.hover:hover div {
	display: block;
}

/* Main */
main{
	margin: 0px 100px;
	padding: 10px;
	margin-top: 177px;
}

main .grid{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	padding: 0;
	margin: 20px;
	background-color: #eaf2fb;
}

/* Footer */
footer{
 	 background-color: #1d85c7;
	 padding: 0px;
	 margin: 0px;
	 text-align: center;
	 color: white;
	 height: 300px;
}

footer .grid{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 0;
	padding: 0;
	margin: auto;
	height: 75px;

}

a.footer{
	color: white;
}
