body{
	margin: 0 100px;
}
header{
font-family: 'Francois One', sans-serif;
}

h1{
	font-family: 'Francois One', sans-serif;
	color:#1d85c7;
	font-size: 40px;
	text-align: justify;
}

h2{
	color:blue;
	font-size: 30px;
}

 footer{
 	  background-color: #1d85c7;
	  padding: 10px;
	  text-align: center;
	  color: white;
	 }

.flex-container {
  display: flex;
  background-color: transparent;
  margin: 0px;
  width: 100%
}

header.flex-container{
	background-color: black;
}

main div{width: 50%}
div{
	margin: 50px
}