/* All
------------------------------------------------------------------------------*/

/* Fonts */

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Bold.eot');
    src: url('../fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'),
        url('../fonts/LeagueSpartan-Bold.woff') format('woff'),
        url('../fonts/LeagueSpartan-Bold.ttf') format('truetype'),
        url('../fonts/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AgharaPro';
    src: url('../fonts/AgharaProRegular.eot');
    src: url('../fonts/AgharaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AgharaProRegular.woff2') format('woff2'),
        url('../fonts/AgharaProRegular.woff') format('woff'),
        url('../fonts/AgharaProRegular.ttf') format('truetype'),
        url('../fonts/AgharaProRegular.svg#AgharaProRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
	font-family: 'LeagueSpartan', sans-serif;
}

h1 {

}

h2 {
	font-size: 1.5vw;
}

h3 {
	color: #04378B;
	font-size: 1.5vw;
	margin: 0;
}

h4 {
	font-size: 1.25vw;
}

p {
	font-size: 1vw;
	text-decoration: none;
	color: black;
}

a {
	font-size: 1vw;
	text-decoration: none;

}
/*----------------------------------------------------------------------------*/


body {
	margin: 0;
	padding: 0;
	background-color: #f3f3f4;
}

main {
	margin: 0 10vw 5vw 10vw;
	padding: 20vw 0 0 0;
}

img {
	width: 100%;
}

.social-links-grid {
	display: flex;
 	grid-template-columns: 25%;
 	margin: 0vw;
 	padding: 1.5vw 0 0 0;
}












/* Mobile only
-----------------------------------------------------------------------------------*/

@media screen and (max-width: 829px) {

	p {
		font-size: 2vw;
	}
}









/* Mobile and Tablet only
------------------------------------------------------------------------------------*/

@media screen and (max-width: 1199px){


	h1 {
		margin: 0;
		padding: 0;
		color: #eaf2fb;
		font-size: 5vw;
		padding: 3vw 1.85vw 0vw 0vw; 
	}

	h2 {
		font-size: 8vw;
	}

	h3 {
		font-size: 4vw;
	}

	h4 {
		font-size: 3vw;
	}

	p {
		font-size: 3vw;
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}

	a {
		font-size: 3vw;
	}



		/* News
	--------------------------------------------------------------------*/



		.news {
			margin: -2vw 0 0 0;
		}

		.news-content {
			padding: 1vw;
		}

		.news h2 {
			text-align: center;
			color: #04378B;
		}

		.news h4 {
			text-align: center;
			padding-bottom: 1vw;
		}

		.news.single {
			padding: 1vw 0 1vw 0;
			margin: 0;
		}

		.line {
				border-bottom: 1px solid #e4e4e4;
				margin: 0 0vw 1vw 0vw;
				width: 80vw;
			}

		.line h3 {
			color: grey;
		}

			.blog-image img {
				width: 100%;
				height: auto;
			}

			.blog-text {
				background-color: white;
				padding: 1vw;
				margin: -1vw 0 5vw 0;
			}

			.blog-text h3 {
				color: #04378B;
				font-size: 5vw;
				padding: 2vw 2vw 1vw 2vw;
			}

			.blog-text p {
				padding: 1vw 2vw 1vw 2vw;
			}

			.blog-text a {
				color: #04378B;
			}

			.blog-link {
				padding: 1vw 2vw 2vw 2vw;
			}

			a.blog-link, .blog-link a {
				color: #04378B;
				text-decoration: none;
				font-size: 3vw;
			}
}









/* Desktop only
-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px){


	h1 {
		color: #04378B;
		font-size: 4.5vw;
		padding: 1vw 0vw 1vw 0vw;
	}

	p {
		font-size: 1vw;
		line-height: 1.5;
	}

	a {
		line-height: 1.5;
	}

	.social-links-grid a {
		margin: 0 0 0 1vw;
	}

	.social-links-grid i {
		text-decoration: none;
		color: white;
		font-size: 2vw;
	}

	.social-links-grid i:hover {
		color: white;
	}



	/* (main)

	/* Patrocinadores */

	.patrocinadores-grid {
		display: flex;
		grid-template-columns: 20%;
		margin: 5vw 0 5vw 10vw;
	}

	.patrocinadores-grid img {
		width: 15vw;
		padding-right: 1vw;
	}


	/* News
	--------------------------------------------------------------------*/
		.news {
			margin: -2vw 0 0 0;
		}

		.news-content {
			padding: 1vw;
		}

		.news h2 {
			text-align: center;
			color: #04378B;
			padding-top: 2vw;
		}

		.news h4 {
			text-align: center;
			padding-bottom: 1vw;
		}

		.news.single {
			padding: 1vw 0 1vw 0;
			margin: 0;
		}

	
	/* Main
	------------------------------------------------------------------------------------------------------*/
		main {
			padding: 0 0 5vw 0;
		}

		/* Blog
		--------------------------------------------------------------------*/

			.line {
				border-bottom: 1px solid #e4e4e4;
				margin: 0 0vw 1vw 0vw;
				width: 80vw;
			}

			.line h3 {
				color: grey;
			}

			.blog-grid {
				display: flex;
			 	grid-template-columns: 25%;
			 	margin: 0vw;
			 	font-size: 1.5vw;
			 	margin-bottom: 1vw;
			}

			.blog-container {
				width: 40vw;
			 	grid-template-columns: 25%;
			}

			.left {
				margin: 0 1vw 0 0;
			}


			.blog-image {
				height: 20vw;
			}


			.half {
				width: 40vw;
		
			}

			.quarter {
				width: 20vw;
			}

			.blog-text {
				background-color: #f3f3f4;
				height: 10vw;
				padding: 0 0 2vw 0;
			}

			.blog-text h3 {
				padding: 1vw 0 0 1vw;
				margin: 0;
				font-size: 1.25vw;
				color: black;
			}

			.blog-text p {
				padding: 1vw 0 0 1vw;
				font-family: sans-serif;
				margin: 0;
				color: black;

			}

			.blog-text a {
				color: white;
			}

			.blog-link {
				width: 6.4vw;
				border-radius: 4px;
				border: 1.5px solid #04378B;
				margin: 1vw 0 0 1vw;
			}
			.blog-link:hover {

				background-color: #04378B;
			}

			.blog-link a {
				padding: 1vw;
				font-family: sans-serif;
				color: #04378B;
				font-weight: 550;
				line-height: 1.96;
			}

			a.blog-link {
				padding: 0.5vw 0 1vw 1vw;
			}

			.blog-link a:hover {
				color: #f3f3f4;
			}

			.blog-text a:hover {
				color: #eaf2fb;
			}

			/* Insta Input 
			-------------------------------------------------------*/

			.instagram{
				padding-top: 5vw;
			}

			.insta-image {
				padding: 1vw 0.5vw 0 0.5vw;
			}

			h2.insta {
				text-align: center;
				color: #04378B;
			}



			/* Two column site 
			-------------------------------------------------------*/

			.page-heading h1 {
				line-height: 0;
				margin-top: 8vw;
				text-align: center;
			}

			.text-column {
				padding: 2vw;
			}


			.text-column h1 {
				font-size: 2.3vw;
				padding: 2vw 0 ;
				color: black;
				margin: 0;
			}

			.text-column h2 {

			}

			.text-column p {
				padding: 1vw 0;
				margin: 0;
				line-height: 1.7;
			}

			.image-column {
				padding: 2vw 2.5vw 1vw 1vw;
			}

			.image-column img {
				padding: 0.5vw 0 0 0;
			}

			.caption {
				font-family: sans-serif;
				color: grey;
				font-size: 1vw;
				padding: 0 0 1vw 1vw;
				margin: 0;
			}


			/* Patrocinadores
			-----------------------------------------------------------*/

			img.vips {

			}

			img.rsport {
				padding: 1.5vw 0 0 0;
			} 

			img.fontalider {
				padding: 1.5vw 0 0 0;
			}



			.contacto {
				width: 100%
			}

			.contacto p {
				text-align: center;
			}

		}