/* All
------------------------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

main {
	margin: 5vw 10vw 5vw 10vw;
}

img {
	width: 100%;
}

h3 {
	color: grey;
	font-size: 1.5vw;
	margin: 0;
}

a {
	text-decoration: none;

}

p {
	font-size: 1vw;
	text-decoration: none;
	color: black;
}



/* Mobile only
-----------------------------------------------------------------------------------*/

@media screen and (max-width: 829px) {

	p {
		font-size: 2vw;
	}
}



/* Mobile and Tablet only
------------------------------------------------------------------------------------*/

@media screen and (max-width: 1199px){


	h1 {
		margin: 0;
		padding: 0;
		color: #eaf2fb;
		font-size: 5vw;
		padding: 3vw 1.85vw 0vw 0vw; 
	}

	h2 {
		font-size: 8vw;
	}

	h3 {
		font-size: 4vw;
	}

	p {
		font-size: 3vw;
		margin: 0;
		padding: 0;
	}

	/* heading */

	.heading-title {

	}

	.sub-logo img {
		width: auto;
		height: 10vw;
		padding: 2vw 1.85vw 0 0;

	}

	.fixed-header {
		position: fixed;
		background-color: #1d85c7;
		height: 15vw;
		width: 100vw;
	}

	.dia {
		margin: 20vw 5vw 5vw 5vw;
	}

	.dia img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	}

		/* News
	--------------------------------------------------------------------*/
		.news {
			background-color: #eaf2fb;
			margin: -2vw 0 0 0;
		}

		.news-content {
			padding: 1vw;
		}

		.news h2 {
			text-align: center;
			color: #1d85c7;
		}

		.news p {
			text-align: center;
			padding-bottom: 1vw;
		}

		.news.single {
			padding: 1vw 0 1vw 0;
			margin: 0;
		}

		.line {
				border-bottom: 1px solid #e4e4e4;
				margin: 0 0vw 1vw 0vw;
				width: 80vw;
			}

			.blog-image img {
				width: 100%;
				height: auto;
			}

			.blog-text {
				background-color: #eaf2fb;
				padding: 1vw;
				margin: -1vw 0 5vw 0;
			}

			.blog-text h2 {
				color: #1d85c7;
				font-size: 5vw;
				line-height: 0.5;
				padding: 1vw 1vw 0 1vw;
			}

			.blog-text p {
				padding: 0 1vw 1vw 1vw;
			} 

			.blog-link {
				color: #1d85c7;
				text-decoration: none;
				font-size: 3vw;
				padding: 0 1vw 0 1vw;
			}
}


/* Desktop only
-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px){


	h1 {
		color: #eaf2fb;
		font-size: 4.5vw;
		line-height: 0;
		padding: 1vw 0vw 1vw 0vw;
	}

	p {
		font-size: 1vw;
	}

	/* Header
	-----------------------------------------------------------------------------*/

		.header {
			background-color: rgba(225, 225, 225, 0.5);
			transition: all .3s ease;
			position: absolute;
			width: 100vw;
		}

		.heading-title h1 {
			font-size: 2vw;
			color: #eaf2fb;
			padding: 1vw 0 0 1vw;
		}

		.heading-title h1:hover {
			color: white;
		}

		.sub-logo {
			padding: 0 0 0 8.33vw;
		}

		.sub-logo img {
			width: 14vw;
			height: auto;
			padding: 1vw 0 1vw 0;
		}

		.menu-grid {
			display: flex;
		 	grid-template-columns: 25%;
		 	margin: 0vw;
		 	font-size: 1.5vw;
		 	padding: 1.5vw 0 0 3.5vw;
		}

		.menu-nav-item {
			padding: 0vw 1vw 1.2vw 0vw;
		}

		.menu-nav-item a {
			text-decoration: none;
			color: #eaf2fb;
		}

		.menu-nav-item a:hover {
			color: white;
		}

		.sub-menu {
			position: absolute;
			background-color: rgba(225,225,225,0.5);
			width: 100vw;
			margin: 1.2vw 0 0 -42.14vw;
			display: none;
			border-radius: 0;

		}

		div.menu-nav-item:hover nav {
			display: block;
		}

		.sub-menu ul {
			display: flex;
			width: 100%;
			list-style-type: none;
			padding: 0;
			margin: 1vw 0 0 20vw;
		}

		.sub-menu-nav-item {
			padding: 0vw 1vw 1vw 1vw;
			font-size: 1vw;
		}

		.social-links-grid {
			display: flex;
		 	grid-template-columns: 25%;
		 	margin: 0vw;
		 	padding: 1.5vw 0 0 0;
		}

		.social-links-grid a {
			margin: 0 0 0 1vw;
		
		}

		
		.social-links-grid i {
			text-decoration: none;
			color: #eaf2fb;
			font-size: 2vw;
		}

		.social-links-grid i:hover {
			color: white;
		}

	/* (main)
	/* News
	--------------------------------------------------------------------*/
		.news {
			background-color: #eaf2fb;
			margin: -2vw 0 0 0;
		}

		.news-content {
			padding: 1vw;
		}

		.news h2 {
			text-align: center;
			color: #1d85c7;
		}

		.news p {
			text-align: center;
			padding-bottom: 1vw;
		}

		.news.single {
			padding: 1vw 0 1vw 0;
			margin: 0;
		}

	
	/* Main
	------------------------------------------------------------------------------------------------------*/
		main {
			padding: 0 0 5vw 0;
		}

		/* Blog
		--------------------------------------------------------------------*/

			.line {
				border-bottom: 1px solid #e4e4e4;
				margin: 0 0vw 1vw 0vw;
				width: 80vw;
			}

			.blog-grid {
				display: flex;
			 	grid-template-columns: 25%;
			 	margin: 0vw;
			 	font-size: 1.5vw;
			}

			.blog-container {
				display: flex;
				width: 40vw;
				height: 20vw;
			 	grid-template-columns: 25%;
			 	background-color: #eaf2fb;
			}

			.left {
				margin: 0 1vw 0 0;
			}

			.blog-image {
				width: 20vw;
				height: 20vw;
				padding: 0;
			}

			.blog-image img {
				width: 20vw;
				height: auto;
			}

			.blog-text {
				background-color: #eaf2fb;
				padding: 1vw;
			}

			.blog-text h2 {
				margin: 0;
				font-size: 1.5vw;
				color: #1d85c7;
			}

			.blog-text p {
				margin: 0;

			}

			.blog-link {
				color: #1d85c7;
				text-decoration: none;
			}

			.blog-text a:hover {
				color: white;
			}

		}


	/* Footer
	------------------------------------------------------------------------------------*/

		.footer {
			background-color: #1d85c7;
			transition: all .3s ease
		}

		.footer-logo {
			width: 100%;
			height: 8vw;
			margin: -5.5vw 0 0 0;
		}

		.footer-logo img {
			padding: 0 0 0 43vw;
			width: 14vw;
			height: auto;
		}

		footer .social-links-grid {
			padding: 5vw 0 0 45vw;
		}

		footer .social-links-grid i {
					color: #eaf2fb;
				}

		footer .social-links-grid i:hover {
					color: #eaf2fb;
				}


		.footer-content {
			padding: 0;
		}

		.footer-grid {
			display: flex;
		 	grid-template-columns: 25%;
		 	margin: 0vw;
		 	padding: 0 0 0 0;
		}

		.footer-grid-left {
			margin: 0 0 0 28.8vw;
		}

		.footer-grid-middle {
			margin: 0 10vw 0 10vw;
		}

		.footer-grid-right {
			margin: 0 0 0 0;
		}

		.footer-heading h2 {
			color: #eaf2fb;
		}

		 .footer-links a {
		 	color: #eaf2fb;
		 	display: block;
		 }

		 .footer-links a:hover {
		 	color: black;
		 }



		/* Footer Color Animation
		---------------------------*/

			.footer.insta {
				background-color: #507fa3;
				transition: all .3s ease
			}

			/* Facebook Animation */
			.footer.facebook {
				background-color: #3b5998;
				transition: all .3s ease
			}

			/* Twitter Animation */
			.footer.twitter {
				background-color: #00acee;
				transition: all .3s ease
			}

		/* Header Color Animation
		---------------------------*/

			.header.insta {
				background-color: #507fa3;
				transition: all .3s ease
			}

			.header.facebook {
				background-color: #3b5998;
				transition: all .3s ease
			}

			.header.twitter {
				background-color: #00acee;
				transition: all .3s ease
			}


		/* Credits */
			.damon {
				margin: 0 0 1vw 90vw;
			}

			.damon a {
				font-size: 1vw;
				color: #1d85c7;
				opacity: 0;
				transition: all .3s ease
			}

			.damon a:hover {
				color: #eaf2fb;
				opacity: 1;
				transition: all .3s ease
			}
