*{
	font-family: 'Francois One', sans-serif;
	text-decoration-color: white;
	text-decoration: none;
	box-sizing: border-box;
}

body{
	margin: 0px;
}

h1{
}

h2{
	color: #1d85c7;
	font-size: 1.5vw;
}

p{
	font-size: 0.95vw;
}

a{
	color: white;
}


/* Header */
header{
	background-color: #1d85c7;
	margin: 0px;
	padding: 0px;
	height: 150px;
}

.grid{
	margin: 0px;
	display: flex;
	grid-template-columns: 25%;
}

div.heading h1{
	font-size: 4vw;
	margin: 0px;
	color: white;
	margin: 0px 0px 0px 25px;
}

	/* Navigation */

	.nav-grid{
 	display: flex;
 	grid-template-columns: 25%;
 	margin: -5px 0px 0px 25px;
 	font-size: 1.5vw;

	}

	.nav-element{
	padding: 10px 10px 20px 10px;
	}


	div.hover:hover div {
	display: block;
	}

	.navisub{
		margin-left: -10px;
		padding: 5px;
		position: absolute;
		border-radius: 0px 0px 5px 5px;
		display: none;
		background-color: #1d85c7;
	}

	.nav-sub-element{
		font-size: 0.95vw;
		padding: 5px 10px 5px 10px;
	}

	.first{
		margin-top: 11px;
	}


/* Main */
main{
	margin: 50px 100px 50px 100px;
}

main a{
	color: black;
}

.main-heading{
	margin: 50px 100px 50px 100px;
	text-align: center;
}

.main-heading h1{
	color: black;
	font-size: 30px;
}

.background-image{
  max-width: 100%;
  height: auto;
}

main .grid{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	padding: 0;
	margin: 20px;
	background-color: #eaf2fb;
}


/* Footer */
footer{
 	 background-color: #1d85c7;
	 padding: 0px;
	 margin: 0px;
	 text-align: center;
	 color: white;
	 height: 16vw;
}

footer .grid{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 0;
	padding: 0;
	margin: auto;

}

a.footer{
	color: white;
	font-size: 0.9vw;
}
a a.footer{
	color: white;
	font-size: 0.9vw;
}





/* Calendario */

ul {list-style-type: none;}

	/* Change Month */
.show{
	margin: 0px 0px 50px 0px;
}

.hide{
	display: none;
}

	/* Month header */
	.month {
	  padding: 15px 25px;
	  width: auto;
	  background: #00aeef;
	  text-align: center;
	}

	/* Month list */
	.month ul {
	  margin: 0;
	  padding: 0;
	}

	.month ul li {
	  color: white;
	  font-size: 20px;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	}

	/* Previous button inside month header */
	.month .prev {
	  float: left;
	  cursor: pointer;
	}

	.month .prev a:hover {
	  color: white
	}

	/* Next button */
	.month .next {
	  float: right;
	  cursor: pointer;
	}

	.month .next a:hover {
	  color: white;

	}

	/* Weekdays (Mon-Sun) */
	.weekdays {
	  margin: 0;
	  padding: 10px 0;
	  background-color:#ddd;
	}

	.weekdays li {
	  display: inline-block;
	  width: 13.6%;
	  color: #666;
	  text-align: center;
	}

	.days li.othermonth{
	color: #D3D3D3;
	}

	/* Days (1-31) */
	.days {
	  padding: 10px;
	  background: #eee;
	  margin: 0;
	}

	.days li {
	  list-style-type: none;
	  display: inline-block;
	  width: 13.6%;
	  height: 100px;
	  text-align: center;
	  margin-bottom: 10px;
	  font-size:12px;
	  color: #777;
	}

	/* Highlight the "current" day */
	.days li .active {
	  padding: 5px;
	  background: #1abc9c;
	  color: white !important
	}


/* Clasificacion Table */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #eaf2fb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eaf2fb;
}

.tablehead{
	background-color: #1d85c7;
}

.tableheaditem{
		border: 1px solid #1d85c7;
		color: white;
}